/* Tu CSS va aqui */
/*estlo logo*/
.logo{
	max-width: 100%;
	height: auto;
}
/*estilos de menu*/
ul{
	margin: 2% 10%;
	text-align: right;
}
ul li{
	list-style: none;
	display: inline-block;
	margin:  0 3%;
}
/*estilo enlace*/
ul li a{
	color: #000;
	text-decoration: none;
}
/*fondo gris*/
section{
	background-color: #868484;
}
/*texto color blanco*/
.text-blanco{
	color: #fff;
}
h1{
	font-size: 3em;
}
/*parrafo alineado*/
p{
	text-align: justify;
	padding: 3% 0;
}

/*formulario*/
form{
	background-color: rgba(255,255,255,.2);
	width: 50%;
	height: 100%;
	border-radius: 8px;
	margin: 10%;
	padding: 3%;
}
label{
	font-weight: bold;
	text-align: center;
	padding: 0 20%;
}
input{
	display: block;
	margin: 3% 10%;
	width: 80%;
	padding: 2% 0;
}
#btn-azul{
	background-color: #2eccfa;
	color: #fff;
	border: none;
	cursor: pointer;
}
span{
	color: #08118B;
}
/*margin y padding*/
.margin-30{
	margin-left: 30%;
}

.pdl-10{
	padding-left: 10%;
}
.pd-5{
	padding-top: 5%;
	padding-bottom: 5%;
}
/*media queries*/
@media only screen and (max-width: 536px) {
	aside{
		width: 100%;
	}
	.col-6{
		width: 100%;
	}		
}
